<div class="form-row justify-content-md-center">
  <fieldset class="border p-2">
    <legend class="w-auto">Informations générales</legend>
    <div class="form-row">
      <label> id: </label>
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="id de la salle" id="name" [(ngModel)]="id">
    </div>
    <div class="form-row">
      <label>limite d'étudiant: </label>
      <input type="number" min='0' class="form-control mb-2 mr-sm-2" placeholder="Limite d'étudiant" id="nb" [(ngModel)]="nb">
    </div>
    <div class="form-row">
      <label>features: </label>
      <div *ngFor="let feature of features; let i=index" class="form-check-inline">
        <input class="form-check-input" type="checkbox" [(ngModel)]="chosenFeatures[i]" ng-true-value="true" ng-false-value="false" ng-checked="chosenFeatures[i] == true">
        <label class="form-check-label">{{feature}}</label>
      </div>
    </div>

    <div class="form-row">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Durée en minutes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms; let i = index">
            <td>{{room.attr.id}}</td>
            <td><input type="text" [(ngModel)]="values[i]" placeholder="durée"></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="form-row justify-content-md-around">
      <button (click)='addRoom()' class="btn btn-dark" [disabled]='id.length === 0'>Ajouter salle</button>
    </div>
  </fieldset>
</div>